$banner-height: 600px;

body {
  background-color: #000;
  background-image: url('/img/bg.jpg');
  background-size: auto $banner-height;
  background-position: center top;
  background-repeat: no-repeat;
  height: $banner-height;
}

.banner {
  height: $banner-height;

  h1 {
    font-size: 80px;
    font-weight: 600;
    color: #fff;
    margin-top: 225px;
    text-shadow: 0 0 30px #000;
    transition: all 0.3s ease;
  }

  a.btn {
    margin-top: 40px;
    box-shadow: 0 0 20px #000;
  }
}

@media(max-width: 600px) {
  .banner{
    h1{
      font-size: 60px;
    }
  }
}

#navbar-top {
  position: absolute;
}

b,
strong {
  color: #424242;
}

.btn {
  box-shadow: 0 1px 2px rgba(0,1,1,.15);
}

#partners {
  img {
    height: 70px;
    display: inline-block;
    padding: 10px;
    opacity: 0.6;
  }
}

.popup.earth{
  position: fixed;
  margin: 0;
  height: auto; width: auto;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

#earth-map {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  background-image: url('/img/stars.jpg');
  position: absolute !important;
}

.popup .popup-close{
  color: #fff;
  font-size: 50px;
  line-height: 50px;

  &:hover{
    color: #eee;
  }
}
